
*.vsidx

*.lock

FourWays/.vs/FourWays/v17/.suo

FourWays/FourWays/obj/Debug/net5.0/FourWays.AssemblyInfo.cs

*.cache

*.editorconfig

FourWays/FourWays/obj/FourWays.csproj.nuget.dgspec.json

*.props

*.targets

FourWays/FourWays/obj/project.assets.json
